*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 20px;
    background-image:  url(./assets/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    
   
}


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-size: 20px;

}

li{
    list-style: none;
}

li a{
    text-decoration: none;
    color: yellow;
    
}

button{
    background-color: #ff505f;
    color: #fff;
    font-weight: 700;
    border: none;
    font-size: 18px;
    padding: 10px;
    /* border-radius: 5px; */
}

.main_section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin: 100px; */
    padding-top: 60px;
    text-align: center;
}
main div h1{
    font-size: 100px;
    /* margin: 20px; */
    /* padding: 10px; */
    color: yellow;
    font-weight: bolder;
}
footer{
    display: flex;
    justify-content: end;
}